
  /* 刷新 新增按钮样式 */
.reflesh-button{
    margin-right: 5px;
    margin-bottom: 10px;
}
  
.form-wrapper{
  width: 100%;
}

.collapse {
  margin-left: 5px;
  font-size: 12px;
}

.search-area {
  text-align: right;
}
.search-form-item{
  margin-bottom: 15px;
}