.ant-table-tbody > tr.ant-table-row-selected td{
    background-color: #6eb2d1;
}
tr:nth-child(2n){
    background:#fafafa;
}

::ng-deep  td{
    text-align: center;
}
::ng-deep .ant-table-thead > tr > th {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
::ng-deep .ant-input-number{
  width: 236px;
}
/* 刷新 新增按钮样式 */
.reflesh-button{
    margin-right: 5px;
    margin-bottom: 10px;
}
[nz-form] {
    max-width: 600px;
}
button {
    margin-left: 8px;
}


.form-wrapper{
    width: 100%;
}
.ant-advanced-search-form {
    display: inline;
    padding: 24px;
    border-radius: 6px;
  }

  [nz-form-label] {
    overflow: visible;
  }

  .collapse {
    margin-left: 5px;
    font-size: 12px;
  }

  .search-area {
    text-align: right;
  }
  .search-form-item{
    margin-bottom: 15px;
  }