<div class="form-wrapper">
  <form nz-form [formGroup]="companySearchForm" [nzLayout]="'inline'" class="ant-advanced-search-form">
    <div nz-row [nzGutter]="24" class="row-control">
      <div nz-col [nzSpan]="6">
        <nz-form-item class="search-form-item">
          <nz-form-label>公司名称</nz-form-label>
          <nz-form-control nzErrorTip="请输入用户名!">
            <input type="text" nz-input formControlName="companyName" placeholder="请输入公司名称" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label>公司编码</nz-form-label>
          <nz-form-control nzErrorTip="请输入公司编码!">
            <input type="text" nz-input formControlName="companyCode" placeholder="请输入公司编码" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label>所属行业</nz-form-label>
          <nz-form-control nzErrorTip="请输入所属行业!">
            <input type="text" nz-input formControlName="industry" placeholder="请输入所属行业" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label>所属区域</nz-form-label>
          <nz-form-control nzErrorTip="请输入所属区域!">
            <input type="text" nz-input formControlName="region" placeholder="请输入所属区域" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6" *ngIf="isCollapse">
        <nz-form-item>
          <nz-form-label>公司地址</nz-form-label>
          <nz-form-control nzErrorTip="请输入公司地址!">
            <input type="text" nz-input formControlName="address" placeholder="请输入公司地址" />
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>
    <div nz-row>
      <div nz-col [nzSpan]="24" class="search-area">
        <button nz-button [nzType]="'primary'" (click)="search()">查询</button>
        <button nz-button (click)="resetForm()">清空</button>
        <a class="collapse" (click)="isCollapse=!isCollapse">
          {{isCollapse ? '收起' : '展开'}}
          <i nz-icon [nzType]="isCollapse ? 'up' : 'down'"></i>
        </a>
      </div>
    </div>
  </form>
</div>
<button nz-button nzType="primary" class="reflesh-button">
  <i nz-icon nzType="sync"></i></button>
<button nz-button nzType="primary" class="add-button" (click)='showAddModal()'>新增</button>
<!-- 公司列表 -->
<nz-table #basicTable [nzData]="listOfData" [nzBordered]=true [nzPageSize]=5
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" nzTableLayout="fixed"
  [nzScroll]="{ x: '1340px', y: '230px' }">
  <thead>
    <tr>
      <th nzWidth="50px" [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"></th>
      <th nzWidth="70px">序号</th>
      <th nzWidth="200px">公司名称</th>
      <th nzWidth="100px">公司编码</th>
      <th nzWidth="100px">所属行业</th>
      <th nzWidth="160px">所属区域</th>
      <th nzWidth="260px">公司地址</th>
      <th nzWidth="160px">创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data ; let i = index ; trackBy: trackByCompanyId">
      <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
      <td>{{ i+1 }}</td>
      <td nzEllipsis>{{ data.companyName }}</td>
      <td>{{ data.companyCode }}</td>
      <td nzEllipsis>{{ data.industry}}</td>
      <td nzEllipsis>{{ data.region }}</td>
      <td nzEllipsis>{{ data.address }}</td>
      <td nzEllipsis>{{ data.createTime | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
      <td>
        <a (click)="showInfoModal(data.id)">详情</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="showEditModal(data.id)">修改</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-popconfirm nzPopconfirmTitle="是否确认删除?" (nzOnConfirm)="delConfirm(data.id)" (nzOnCancel)="delCancel()"
          nzPopconfirmPlacement="bottomRight">删除</a>
      </td>
    </tr>
  </tbody>

</nz-table>
<!-- 新增公司 -->
<nz-modal [(nzVisible)]="isShowAddCompanyModel" nzTitle="新增公司" (nzOnCancel)="handleAddCompanyCancel()"
  (nzOnOk)="handleAddCompanyOk($event,companyAddForm.value)">
  <form nz-form [formGroup]="companyAddForm">
    <!-- 公司名称 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>公司名称</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="companyNameErrorTpl">
        <input nz-input formControlName="companyName" placeholder="请输入公司名称" />
        <ng-template #companyNameErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">公司名称不能为空</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- 公司编码 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6">公司编码</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
        <input nz-input formControlName="companyCode" placeholder="请输入公司编码" />
      </nz-form-control>
    </nz-form-item>
    <!-- 所属行业 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>所属行业</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="industryErrorTpl">
        <input nz-input formControlName="industry" placeholder="请输入所属行业" />
        <ng-template #industryErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">所属行业不能为空</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- 所属区域 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6">所属区域</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
        <input nz-input formControlName="region" placeholder="请输入所属区域" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>公司地址</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="addressErrorTpl">
        <input nz-input formControlName="address" placeholder="请输入公司地址" />
        <ng-template #addressErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">公司地址不能为空</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- 公司简介 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>公司简介</nz-form-label>
      <nz-form-control [nzSpan]="16" [nzErrorTip]="introduceErrorTpl">
        <textarea formControlName="introduce" nz-input rows="5" placeholder="请输入公司简介"></textarea>
        <ng-template #introduceErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">公司简介不能为空</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">公司图片</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <div class="clearfix">
          <nz-upload
          nzAction="http://localhost:8080/mini/uploadCompanyImg" 
          (nzChange)="handleChange($event)"
          nzListType="picture-card"
          [(nzFileList)]="fileList"
          [nzBeforeUpload]="beforeUpload"
          [nzShowButton]="fileList.length < 4"
          [nzPreview]="handlePreview"
        >
          <div>
            <i nz-icon nzType="plus"></i>
            <div style="margin-top: 8px">上传</div>
          </div>
        </nz-upload>
        <nz-modal
          [nzVisible]="previewVisible"
          [nzContent]="modalContent"
          [nzFooter]="null"
          (nzOnCancel)="previewVisible = false"
        >
          <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
          </ng-template>
        </nz-modal>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
<!-- 编辑公司 -->
<nz-modal [(nzVisible)]="isShowEditCompanyModel" nzTitle="编辑公司" (nzOnCancel)="handleEditCompanyCancel()"
  (nzOnOk)="handleEditCompanyOk($event,companyForm.value)">
  <form nz-form [formGroup]="companyForm">
    <!-- 公司名称 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>公司名称</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="companyNameErrorTpl">
        <input nz-input formControlName="companyName" placeholder="请输入公司名称" />
        <ng-template #companyNameErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">公司名称不能为空</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- 公司编码 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6">公司编码</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
        <input nz-input formControlName="companyCode" placeholder="请输入公司编码" />
      </nz-form-control>
    </nz-form-item>
    <!-- 所属行业 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>所属行业</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="industryErrorTpl">
        <input nz-input formControlName="industry" placeholder="请输入所属行业" />
        <ng-template #industryErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">所属行业不能为空</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- 所属区域 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6">所属区域</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
        <input nz-input formControlName="region" placeholder="请输入所属区域" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>公司地址</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="addressErrorTpl">
        <input nz-input formControlName="address" placeholder="请输入公司地址" />
        <ng-template #addressErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">公司地址不能为空</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- 公司简介 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>公司简介</nz-form-label>
      <nz-form-control [nzSpan]="16" [nzErrorTip]="introduceErrorTpl">
        <textarea formControlName="introduce" nz-input rows="5" placeholder="请输入公司简介"></textarea>
        <ng-template #introduceErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">公司简介不能为空</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">公司图片</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <div class="clearfix">
          <nz-upload
          nzListType="picture-card"
          [(nzFileList)]="fileList"
          [nzBeforeUpload]="beforeUpload"
          [nzPreview]="handlePreview"
        >
          <div>
            <i nz-icon nzType="plus"></i>
            <div style="margin-top: 8px">Upload</div>
          </div>
        </nz-upload>
        <nz-modal
          [nzVisible]="previewVisible"
          [nzContent]="modalContent"
          [nzFooter]="null"
          (nzOnCancel)="previewVisible = false"
        >
          <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
          </ng-template>
        </nz-modal>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>
<!-- 公司详情 -->
<nz-modal [(nzVisible)]="isShowInfoCompanyModel" nzTitle="公司详情" [nzFooter]=null
  (nzOnCancel)="handleInfoCompanyCancel()">
  <form nz-form [formGroup]="companyForm">
    <!-- 公司名称 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>公司名称</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="companyNameErrorTpl">
        <input nz-input formControlName="companyName" placeholder="请输入公司名称" />
        <ng-template #companyNameErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">公司名称不能为空</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- 公司编码 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6">公司编码</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
        <input nz-input formControlName="companyCode" placeholder="请输入公司编码" />
      </nz-form-control>
    </nz-form-item>
    <!-- 所属行业 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>所属行业</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="industryErrorTpl">
        <input nz-input formControlName="industry" placeholder="请输入所属行业" />
        <ng-template #industryErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">所属行业不能为空</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- 所属区域 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6">所属区域</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating...">
        <input nz-input formControlName="region" placeholder="请输入所属区域" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>公司地址</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="addressErrorTpl">
        <input nz-input formControlName="address" placeholder="请输入公司地址" />
        <ng-template #addressErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">公司地址不能为空</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- 公司简介 -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzRequired>公司简介</nz-form-label>
      <nz-form-control [nzSpan]="16" [nzErrorTip]="introduceErrorTpl">
        <textarea formControlName="introduce" nz-input rows="5" placeholder="请输入公司简介"></textarea>
        <ng-template #introduceErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">公司简介不能为空</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="6">公司图片</nz-form-label>
      <nz-form-control [nzSpan]="12">
        <div class="clearfix">
          <nz-upload
          nzListType="picture-card"
          [(nzFileList)]="fileList"
          [nzBeforeUpload]="beforeUpload"
          [nzPreview]="handlePreview"
        >
          <div>
            <i nz-icon nzType="plus"></i>
            <div style="margin-top: 8px">上传</div>
          </div>
        </nz-upload>
        <nz-modal
          [nzVisible]="previewVisible"
          [nzContent]="modalContent"
          [nzFooter]="null"
          (nzOnCancel)="previewVisible = false"
        >
          <ng-template #modalContent>
            <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
          </ng-template>
        </nz-modal>
        </div>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>