<nz-table #basicTable [nzData]="listOfData" [nzBordered]=true 
   (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" nzTableLayout="fixed">
    <thead>
      <tr>
        <th
        nzWidth="50px"
        [(nzChecked)]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>
      <th nzWidth="70px">序号</th>
       <th >图片名称</th>
       <th >图片</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data ">
        <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
        <td>{{ data.id }}</td>
        <td>{{ data.imgName}}</td>
        <td nzEllipsis>{{ data.imgUrl }}</td>
        
        <!-- <td>{{ data.companyImgUrl }}</td> -->
        <td nzEllipsis>{{ data.creatime | date: 'yyyy-MM-dd hh:mm:ss' }}</td>
        <td>
          <a>删除</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>修改</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
