/* 鼠标滑动td的样式 */
::ng-deep .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    background: #e2e5e7;
}
::ng-deep .ant-table-tbody > tr.ant-table-row-selected td{
    background-color: #6eb2d1;
}

/* 偶数列样式 */
tr:nth-child(2n){
    background:#fafafa;
}
::ng-deep .ant-table{
    line-height: 1;
}
::ng-deep  td{
    text-align: center;
}

/* 表头 */
::ng-deep .ant-table-thead > tr > th {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
/* 查询按钮 */
::ng-deep button.ant-btn {
    margin-top: 12px;
    margin-left: 10px;
}
/* 刷新 新增按钮样式 */
::ng-deep .reflesh-button{
    margin-left: 8px;
    margin-bottom: 16px;
}
/* 数字选择框 */
::ng-deep .ant-input-number{
    width: 236px;
}
::ng-deep .form-wrapper{
   width: 100%;
   height: 120px;
}
/* 查询表单 */
::ng-deep .ant-advanced-search-form {
    display: inline;
    padding: 2px;
    border-radius: 3px;
}
/* 标签项 */
::ng-deep .ant-tabs-tab{
    margin: 20px 40px 0 0;
    padding: 15px 0;
    font-size: 16px;
}

::ng-deep .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab:not(:last-of-type), .ant-tabs-card.ant-tabs-bottom > .ant-tabs-nav .ant-tabs-tab:not(:last-of-type), .ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab:not(:last-of-type), .ant-tabs-card.ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-tab:not(:last-of-type){
    margin-right: 8px;
}
::ng-deep .ant-tabs-tab{
    margin: 20px 40px 0 0;
    padding: 15px 0;
    font-size: 16px;
}
/* 搜索区域 */
::ng-deep .search-area {
    text-align: right;
}

p{
    margin: auto;
}
/* 表单输入框 */
::ng-deep .ant-input{
    margin-bottom: 15px;
}