<nz-layout class="layout-wrapper">
  <nz-header>
    <div class="header-wrapper">
      <div class="header-logo">
        <img src="../../../assets/static/logo/logo.png" alt="后台管理系统" />
      </div>
      <div class="header-content">
        <div class="avatar">
          <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
          <a href="#" class="logout" nz-popconfirm nzPopconfirmTitle="是否确定退出?" (nzOnConfirm)="logout()"
            nzPopconfirmPlacement="bottom"> <i nz-icon nzType="logout" nzTheme="outline"></i>&nbsp;退出</a>
        </div>
      </div>
    </div>
  </nz-header>
  <nz-layout class="context">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" style="min-width: 220px;">
      <div class="inner-menu">
       <ul nz-menu nzTheme="dark" nzMode="inline" *ngFor="let menu of menuList" >
          <li nz-submenu nzTitle={{menu.name}} 
          nzIcon={{menu.icon}} 
          nzOpen={{menu.open}}
          [nzPaddingLeft]="menu.level * 24"
          >
            <ng-container *ngIf="menu.hasChildren">
              <ul *ngFor="let menuItem of menu.children">
                <li nz-menu-item routerLink={{menuItem.path}} [nzPaddingLeft]="menuItem.level * 24">{{menuItem.name}}</li>
              </ul>
            </ng-container>
          </li>
        </ul>
      </div>
    </nz-sider>
    <nz-layout>
      <nz-content >
        <nz-breadcrumb class="header-breadcrumb" [nzAutoGenerate]="true">
        </nz-breadcrumb>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer>赣ICP备19081412号</nz-footer>
    </nz-layout>
  </nz-layout>
</nz-layout>