.layout-wrapper {
  height: 100%;
}

::ng-deep .ant-layout-header {
  height: 54px;
  padding: 0px;
  line-height: 54px;
  background-color: #fff;
}

.header-wrapper {
  position: relative;
  width: 100%;
  display: flex;
}

.header-logo {
  width: 200px;
  background-color: #001529;
  overflow: hidden;
  line-height: 50px;
  float: left;
}

.header-content {
  right: 100px;
  position: absolute !important;
  height: 100%;
  float: right;
}

.avatar {
  margin-top: 2px;
}
.avatar .logout {
  margin-left: 10px;
}


.inner-content {
  margin: 20px 20px 20px 20px;
  background: #fff;
  min-height: 360px;
}

nz-sider{
  overflow: hidden;
  height: 100%;
  position: relative;
}

.inner-menu{
  position: absolute;
  left: 0;
  top: 0;
  right: -17px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

nz-footer {
  text-align: center;
}