.swiper-img{
    width: 60px;
    height: 60px; 
}

tr:nth-child(2n){
    background:#fafafa;
}

::ng-deep .ant-table-thead > tr > th {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
::ng-deep  td{
    text-align: center;
}