/* 鼠标滑动td的样式 */
.ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
    background: #e2e5e7;
}
/* 表头 */
::ng-deep .ant-table-thead > tr > th {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
/* 刷新 新增按钮样式 */
.reflesh-button{
    margin-right: 5px;
    margin-bottom: 20px;
}
[nz-form] {
    max-width: 600px;
}
button {
    margin-left: 8px;
}